body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Papyrus','Copperplate','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(60,178,223);
  background: linear-gradient(90deg, rgba(60,178,223,0.9531162806919643) 0%, rgba(34,211,203,0.950315160243785) 25%, rgba(43,154,203,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor:pointer;
}
